.footer {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  padding: 70px;
}

.footer__text {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
